/****** Header + Nav ********/
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo {
    width: 61px;
    height: 19px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.nav-container {
    padding-top: 15px;
}

.nav-link {
    margin-left: 35px;
    font-size: var(--text-info-size);
    font-weight: var(--weight-normal);
}

.nav-link:hover {
    color: var(--main-color);
    border-top: solid 2px var(--main-color);
    padding-top: 20px;
}

/****** Section found Hebergements + search form *********/
            /* title + info */
.section-search {
    display: flex;
    flex-direction: column;
}

.section-search-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: var(--title-h-size);
    font-weight: var(--weight-bold);
    line-height: normal; /*peut-être a changer par sa variable*/
}

.section-search-info {
    margin: 0;
    margin-bottom: 10px;
    font-size: var(--text-info-size);
    font-weight: var(--weight-normal);
    line-height: normal;
}

.section-search-info-2 {
    font-size: var(--text-info-size);
    font-weight: var(--weight-normal);
    line-height: normal;
}
            /*** Form (search + button) ***/
.search-form {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 380px;
    align-items: center;
    padding: 1px 0px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.text-field {
    font-family: 'Raleway';
    font-size: var(--subtitle-size);
    font-weight: var(--weight-bold);
    text-align: center;
    border: none;
    padding: 15px 0px;
    margin: 0;
    width: 195px;
}

.text-field:focus {              /** !!!! verifier que se soit accepter, enlève de l'accéssibilité !!!! **/
    outline: none;
}
            /* Button search */
.button-search {
    margin-left: -2px;
    font-family: 'Raleway';
    color: var(--card-color);
    font-size: var(--subtitle-size);
    font-weight: var(--weight-bold);
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    border: none;
    padding: 16px 16px;
}

            /*** Filter box ***/
.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.filter-subtitle {
    font-size: var(--subtitle-size);
    font-weight: var(--weight-bold);
}

            /* Button filter */
.filter-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
    background-color: var(--card-color);
    border-color: var(--filter-border-color);
    border-radius: 30px;
}

.filter-buttons:hover {
    background-color: var(--filter-bg-color);
}

.button-title {
    font-size: var(--filters-info-size);
    font-weight: var(--weight-bold);
    margin-left: 10px;
    margin-right: 14px;
}
            /*** more information ***/
.info-xs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-card a {
    width: 31%;
}
.hebergements-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hebergements-card .card {  
    display: flex;
    flex-direction:column ;
    margin-top: 33px;
}

.hebergements-card img {
    width: 100%;
    height: 119px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-card .card-content {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
}

.hebergements-card .card-title {
    margin: 0;
    margin-top: 7px;
    margin-bottom: 10px;
}

.hebergements-card .card-subtitle {
    margin: 0;
}

.hebergements-card .card-rating {
    margin-top: 5px;
    margin-bottom: 5px;
}

.link-more {
    font-size: var(--subtitle-size);
    font-weight: var(--weight-bold);
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Section Activity *******/

.activity {
    padding: 30px;
}

.activity-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity-location a {
    width: 22%;
}
.activity-location .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.activity-location img {
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activity-location .card-title {
    margin-left: 15px;
}

.activity-location .card-title-2 {
    margin-left: 15px;
}

/******** Footer ********/
.footer {
    background-color: var(--main-bg-color);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    width: 31%;
}

.footer-title {
    margin: 0;
    margin-top: 5px;
    font-size: var(--subtitle-size);
    font-weight: var(--weight-bold);
}

.footer-subtitle {
    margin-top: 15px;
    font-size: var(--text-info-size);
    font-weight: var(--weight-normal);
}